html {
  height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}



body {
	font: 24px Georgia, Times New Roman, Times, serif;
	line-height: 1.4em;
  background: #fbfbfb;
  background-image: url('../img/background_better_light.jpg');
  background-size: auto 100%;
  /*background-position: bottom;*/
  background-repeat: no-repeat;
  background-position: center;
	/*background: #333333;*/
	color: #000000;
/*	width: 520px;*/
  /*height: 100%;*/
	/*margin: 0 auto;*/
	/*-webkit-font-smoothing: antialiased;*/
}

#quotation {
  width: 50%;
  margin: 5% auto 0 auto;
  /*float: right;*/
}

#quotation b {
  margin-right: 1em;
}