html {
    height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
    font-size: 24px;
    font-family: Georgia, Times, New, Roman, serif;
    line-height: 1.4em;
    background-size: auto 100%;
    background: #ffffff url('../img/background_better.jpg') no-repeat center;
    width: 508px;
    height: 304px;
    color: #000000;
}

#quotation {
    width: 50%;
    margin: 5% auto 0 auto;
}

#quotation b {
    margin-right: 1em;
}